<div class="home">
  <ng-scrollbar class="virtual-scroll" thumbClass="white-scrollbars">
    <cdk-virtual-scroll-viewport scrollViewport itemSize="1">
      <div *cdkVirtualFor="let post of posts">
        <mat-card class="blog-post">
          <mat-card-header class="post-header">
            <mat-card-title>{{ post.title }}</mat-card-title>
            <mat-card-subtitle>{{ post.category }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div fxLayout="row" style="width: 100%;">
              <div class="image-container" fxFlex="33">
                <img class="post-image" [src]="post.imageUrl" />
              </div>
              <div fxFlex="66">
                <p>{{ post.body }}</p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </cdk-virtual-scroll-viewport>
  </ng-scrollbar>
</div>
